<%= render "tweets/header" %>
<div class="form-wrapper">
  <h1>新規アカウント登録</h1>
  <%= form_with model: resource, as: resource_name, url: registration_path(resource_name), local: true do |f|%>
  <%# 保存先指定 %>
  <%= devise_error_messages!%>
  <%# エラーメッセージ呼び出し %>

<%# --------------------------登録項目--------------------------------------- %>
    <div class="form-item">
      <%= f.label :ニックネーム%>
    </div>
    <div class='field-input'>
      <%= f.text_field :nickname, autofocus: true%>
    </div>
    <div class="form-item">
      <%= f.label :email%>
    </div>
    <div class='field-input'>
      <%= f.email_field :email%>
    </div>
    <div class="form-item">
      <%= f.label :password%><i>(英数字6文字以上)</i>
    </div>
    <div class='field-input'>
      <%= f.password_field :password, autocomplete: "off"%>
    </div>
    <div class="form-item">
      <%= f.label :確認用password%>
     </div>
     <div class='field-input'>
      <%= f.password_field :password_confirmation, autocomplete: "off"%>
    </div>
<%# --------------------------登録項目--------------------------------------- %>
    <div class='button-panel'>
      <%= f.submit "登録する", class: 'button'%>
    </div>
  <% end %>
  <div class="form-footer">
</div>
<%# とりあえず保存には成功したのでここからカラム増やしたりしていく %>

