<!-- header -->
  <ul class="nav-list">
    <div class="site-title">MyHairsalon</div>
    <li class="nav-list-item">Tweet</li>
    <li class="nav-list-item">About</li>
    <li class="nav-list-item"><%= link_to '投稿する', new_tweet_path, method: :get %></li>
    <li class="nav-list-item">Style</li>
  <% if user_signed_in? %>
  <%# サインインしてるならログアウトのみ表示 %>
    <li class="nav-list-item"><%= link_to current_user.nickname, "#" %></li>
    <%# プロフィール編集かマイページとか飛べるようにあとでしてもよい %>
    <li class="nav-list-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <% else %>
  <%# してないなら新規登録、ログインを表示 %>
    <li class="nav-list-item"><%= link_to '新規登録', new_user_registration_path, method: :get %></li>
    <li class="nav-list-item"><%= link_to 'ログイン', new_user_session_path,method: :get %></li>
    <% end %>
  </ul>