
<div class="wrapper">
  <%= render "header" %>
  <div class="content-list">
    <div class="main-tweet">
    <% @tweets.each do |tweet| %>
    <div class="content_post" style="background-image: url(<%= tweet.image %>);">
      <p><%= tweet.text %></p>
      <span class="name">
        <%= tweet.style_name %>
      </span>
    </div>
  <% end %>
    </div>
  </div>
  <%= render "footer" %>
</div>
<%# とりあえずむだなくした感じで実装してあとでつけていく %>