<%= render "header" %>
<div class="form-wrapper">
  <div class="show-style">
    <div class="style-name">
      <%= @tweet.style_name %>
    </div>
    <div class="style-image">
      <%= image_tag @tweet.image , class: "tweet-img-show" %>
    </div>
    <div class="style-date">
      <table>
      <tr>
        <th><b>担当者</b></th>
        <th><div><%= image_tag @user.img, class: 'user-img' if @user.img.attached? %>
            </div>
            <div><%= @user.nickname %>
            </div>
        </th>
        <%# アバターの表示と有無確認 %>
      <tr>
        <td><b>スタイルコメント</b></td>
        <td><%= @tweet.text %></td>
      </tr>
      <tr>
        <td><b>サロン名</b></td>
        <td><%= @user.salon_name %></td>
      </tr>
      <tr>
        <td><b>得意なスタイル</b></td>
        <td><%= @user.like_style %></td>
      </tr>
      <tr>
        <td><b>所在地</b></td>
        <td><%= @user.prefecture %></td>
      </tr>
      <tr>
        <td><b>公式HP</b></td>
        <td><%= @user.salon_hp %></td>
      </tr>
      <tr>
        <td><b>電話番号</b></td>
        <td><%= @user.phone %></td>
      </tr>
      </table>
    </div>
  </div>
  <% if user_signed_in? && current_user.id == @tweet.user_id %>
  <div class="show-style-change">
    <div class="edit-btn">
    <%= link_to 'スタイル編集', edit_tweet_path(@tweet.id), method: :get %>
      <%# 編集機能 %>
    </div>
    <div class="destroy-btn">
      <%= link_to "投稿削除", tweet_path(@tweet.id), method: :delete %>
      <%# 削除機能 %>
    </div>
  </div>
  <% end %>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "気になったスタイルに質問してみましょう！", rows: "2" %>
        <%= form.submit "コメント投稿", class: "comment-btn" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}",class: "comments-user" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>
</div>