<%= render "tweets/header" %>
<div class="form-wrapper">
  <h1>プロフィール編集</h1>
  <%= form_with model: @user do |f|%>
  <%# ユーザー情報を保持した変数を受け渡し %>
  <%# <%= devise_error_messages!%>
  <%# エラーメッセージ呼び出し %>

<%# --------------------------登録項目--------------------------------------- %>
    <div class="form-item">
    <%= f.label :アイコン設定%>
    </div>
    <div>
    <%= f.file_field :img %>
    </div>
    <div class="form-item">
      <%= f.label :ニックネーム%>
    </div>
    <div class='field-input'>
      <%= f.text_field :nickname, autofocus: true%>
    </div>
    <div class="form-item">
      <%= f.label :email%>
    </div>
    <div class='field-input'>
      <%= f.email_field :email%>
    </div>
    <div class="form-item">
      <%= f.label :password%><i>(英数字6文字以上)</i>
    </div>
    <div class='field-input'>
      <%= f.password_field :password, autocomplete: "off"%>
    </div>
    <div class="form-item">
      <%= f.label :確認用password%>
     </div>
     <div class='field-input'>
      <%= f.password_field :password_confirmation, autocomplete: "off"%>
    </div>
     <div class="form-item">
      <%= f.label :サロン名%>
    </div>
    <div class='field-input'>
      <%= f.text_field :salon_name, placeholder: "美容師の場合入力"%>
    </div>
    <div class="form-item">
      <%= f.label :得意なスタイル%>
    </div>
    <div class='field-input'>
      <%= f.text_field :like_style, placeholder: "美容師の場合入力"%>
    </div>
    <div class="form-item">
      <%= f.label :サロン公式HP%>
    </div>
    <div class='field-input'>
      <%= f.text_field :salon_hp, placeholder: "美容師の場合入力"%>
    </div>
    <div class="form-item">
      <%= f.label :所在地%>
    </div>
    <div class='field-input'>
      <%= f.text_field :prefecture, placeholder: "美容師の場合入力"%>
    </div>
    <div class="form-item">
      <%= f.label :電話番号%>
    </div>
    <div class='field-input'>
      <%= f.text_field :phone, placeholder: "ハイフンなし"%>
    </div>
<%# --------------------------登録項目--------------------------------------- %>
    <div class='button-panel'>
      <%= f.submit "更新", class: 'button'%>
    </div>
  <% end %>
  <div class="form-footer">
</div>
<%# とりあえず保存には成功したのでここからカラム増やしたりしていく %>

