<%= render "tweets/header" %>
<div class="form-wrapper">
  <h1>ログイン</h1>
  <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
  <%# ログインパス %>
  <%= devise_error_messages!%>
  <%# エラーメッセージ呼び出し %>

<%# --------------------------登録項目--------------------------------------- %>
    <div class="form-item">
      <%= f.label :email%>
    </div>
    <div class='field-input'>
      <%= f.email_field :email%>
    </div>
    <div class="form-item">
      <%= f.label :password%>
    </div>
    <div class='field-input'>
      <%= f.password_field :password, autocomplete: "off"%>
    </div>
<%# --------------------------登録項目--------------------------------------- %>
    <div class='button-panel'>
      <%= f.submit "ログインする", class: 'button'%>
    </div>
  <% end %>
  <div class="form-footer">
  <%= render "devise/shared/links"%>
</div>
<%# とりあえず保存には成功したのでここからカラム増やしたりしていく %>

